<h1>Welcome to CSE Motors!</h1>
<div>
    <img src="../public/images/vehicles/delorean.jpg" alt="Delorean Car">
</div>
<div>
    <h2>Delorean Upgrades</h2>
    <ul>
        <li>
            <img src="../public/images/upgrades/flux-cap.png" alt="Flux Capacitor">
            <p>Flux Capacitor</p>
        </li>
        <li>
            <img src="../public/images/upgrades/flame-decals.jpg" alt="Flame Decals">
            <p>Flame Decals</p>
        </li>
        <li>
            <img src="../public/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
            <p>Bumper Stickers</p>
        </li>
        <li>
            <img src="../public/images/upgrades/hub-cap.jpg" alt="Hub Caps">
            <p>Hub Caps</p>
        </li>
    </ul>
</div>
<div>
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast it's almost like traveling in time"</li>
        <li>"Coolest ride on the road"</li>
        <li>"I'm feeling Mcfly"</li>
        <li>"The most futuristic ride of our day"</li>
        <li>"80's livin and I love it"</li>
    </ul>
</div>